//Variables Tipograficas

//Font-weight
$playfair-md:  400;
$playfair-big: 700;
//Font-family
$playfair: 'playfair',serif;
$Roboto: 'Roboto',sans-serif;
//Font-style
$playfair-italic: italic;




//Variables de colores
$color-white: white;
