//Variables Tipograficas

//Font-weight
$playfair-md-regular:  400;
$playfair-big-black-ital: 900;
$Roboto-light:300;
$Roboto-regular:400;

//Font-family
$playfair: 'playfair',serif;
$Roboto: 'Roboto',sans-serif;
//Font-style
$playfair-italic: italic;

//Variables de colores

//Color
$color-white: white;
$fuzzyWuzzy:#e56353;
$ruddyPink:#D76C69;
$eerieBlack:#121619;

//Background Color
$backgroundColorNickel: #6C6E70;
$backgroundColorPlatinum:#E6E7E7;
$backgroundColorEerie-black:#121619;
