img{
    border-radius: 50%;
}
h3{
    font-family: $playfair;
    font-weight: $playfair-big-black-ital;
    font-style: $playfair-italic;
    font-size:x-large;
    margin-top: 5rem;
  
}
.section__info-section--p{
    padding-top: 5rem;
    
}
.row{
    margin:4rem 4rem;
}
