h2{
    font-family:$playfair;
    font-weight:$playfair-md-regular;
    font-size: large;
    margin: 3rem 0 3rem;
}

p{
    font-family: $Roboto;
    font-weight: $Roboto-light;
}
span{
    color:$ruddyPink
}
